* {
  font-family: "Maza", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.4s linear;
}

body {
  background-color: #4888FF;
}

@font-face {
  font-family: "Maza";
  src: url("/font/Maza W00 Regular.ttf");
}
.container {
  max-width: 1370px;
  width: 100%;
  margin: 0 auto;
}

.header__information .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.header__promo_nav .container {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.header {
  position: relative;
  background-color: #FFFFFF;
  padding-bottom: 24px;
}
.header__information {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 16px;
  background-color: #F4F4F4;
}
.header__information_items {
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
  align-items: center;
}
.header__information_items:last-child {
  max-width: 162px;
  width: 100%;
}
.header__information_wrapper_address {
  display: flex;
  -moz-column-gap: 6.65px;
       column-gap: 6.65px;
  align-items: center;
}
.header__information_icon {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__information_icon svg {
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.header__information_iconsvg path {
  fill: #343A3F;
}
.header__information_address {
  font-size: 14px;
  line-height: 18px;
  color: #343A3F;
}
.header__information_wrapper_phone {
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
  align-items: center;
}
.header__information_phone {
  font-size: 14px;
  line-height: 18px;
  color: #343A3F;
}
.header__information_work {
  font-size: 14px;
  line-height: 18px;
  color: #343A3F;
}
.header__information_service {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  align-items: center;
}
.header__information_service_link {
  font-size: 14px;
  line-height: 18px;
  color: #343A3F;
  text-decoration: none;
  cursor: pointer;
}
.header__information_service_link:hover {
  color: #4888FF;
}
.header__wrapper_logo {
  width: 80px;
  height: 80px;
  background-color: #4888FF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__logo_link {
  width: 41px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__utility_bar {
  max-width: 901px;
  width: 100%;
}
.header__utility_bar_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 12px;
       column-gap: 12px;
  margin-bottom: 16px;
}
.header__utility_bar_btn_menu {
  max-width: 101px;
  width: 100%;
  padding: 16px 10px 16px 10px;
  border: none;
  background-color: #4888FF;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.header__utility_bar_wrapper_search {
  max-width: 654px;
  width: 100%;
  border: 1px solid rgba(72, 136, 255, 0.2);
  padding: 4px;
  padding-left: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
}
.header__utility_bar_search {
  outline: none;
  border: none;
  max-width: 330px;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  color: #343A3F;
}
.header__utility_bar_search::-moz-placeholder {
  font-size: 16px;
  line-height: 20px;
  color: #343A3F;
}
.header__utility_bar_search::placeholder {
  font-size: 16px;
  line-height: 20px;
  color: #343A3F;
}
.header__utility_bar_btn_search {
  max-width: 78px;
  width: 100%;
  border: none;
  background-color: #4888FF;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  padding: 10.34px 10px 10.34px 10px;
  border-radius: 4px;
  cursor: pointer;
}
.header__utility_bar_wrapper_messengers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.header__utility_bar_btn_messenger {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 12px;
  border: none;
  background-color: #F4F4F4;
  border-radius: 4px;
  cursor: pointer;
}
.header__utility_bar_btn_messenger:hover {
  background-color: #D4D9DD;
}
.header__utility_bar_btn_messenger:hover svg path {
  fill: #4888FF;
}
.header__quick_access_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 18.51px;
       column-gap: 18.51px;
  list-style-type: none;
}
.header__quick_access_item {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  background-color: #F4F4F4;
  border-radius: 8px;
  padding: 11px 10px;
}
.header__quick_access_item:hover svg path {
  fill-opacity: 1;
}
.header__quick_access_icon {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__quick_access_icon svg {
  width: 100%;
  height: 100%;
}
.header__quick_access_link {
  font-size: 16px;
  line-height: 20px;
  color: #343A3F;
  text-decoration: none;
  cursor: pointer;
}
.header__quick_access_link:hover {
  color: #4888FF;
}
.header__language {
  display: flex;
  -moz-column-gap: 7.5px;
       column-gap: 7.5px;
  padding-top: 14px;
  padding-right: 18px;
}
.header__language_icon {
  width: 21px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__language_icon svg {
  width: 100%;
  height: 100%;
}
.header__language_wrapper_text {
  display: flex;
  -moz-column-gap: 9px;
       column-gap: 9px;
  cursor: pointer;
}
.header__language_text {
  font-size: 16px;
  line-height: 20px;
  color: #343A3F;
  position: relative;
}
.header__language_text::after {
  content: "";
  position: absolute;
  display: block;
  width: 1px;
  height: 12px;
  background-color: #343A3F;
  top: 4px;
  right: -4.5px;
}
.header__language_text:last-child {
  color: rgba(52, 58, 63, 0.5);
}
.header__language_text:last-child::after {
  display: none;
}
.header__build_btn_wrapper_btn {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 16px;
       column-gap: 16px;
  margin-bottom: 16px;
}
.header__build_btn_choice_btn {
  width: 48px;
  height: 48px;
  border: 1px solid #D3D3D3;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
}
.header__build_btn_choice_btn:hover svg path {
  fill: #4888FF;
}
.header__build_btn_create_btn {
  width: 100%;
  background-color: #F4F4F4;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  line-height: 20px;
  color: #4888FF;
  padding: 11px;
  cursor: pointer;
}
.header__build_btn_create_btn:hover {
  background-color: #4888FF;
  color: #FFFFFF;
}

.popup_menu .container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  -moz-column-gap: 41px;
       column-gap: 41px;
  justify-content: space-between;
}

.popup_menu {
  position: absolute;
  max-width: 892px;
  width: 100%;
  left: 155px;
  top: 180px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(157, 157, 157, 0.35);
  border-radius: 8px;
  padding-top: 28px;
  padding-right: 95px;
  padding-bottom: 23px;
}
.popup_menu__category_item {
  max-width: 338px;
  width: 100%;
}
.popup_menu__category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 20px;
}
.popup_menu__category:hover {
  background-color: #F3F3F3;
}
.popup_menu__wrapper {
  display: flex;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.popup_menu__wrapper_icon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup_menu__wrapper_icon svg {
  width: 100%;
  height: 100%;
}
.popup_menu__name_category {
  font-size: 16px;
  line-height: 20px;
  color: #343A3F;
}
.popup_menu__item {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  max-width: 418px;
  width: 100%;
  justify-content: space-between;
}
.popup_menu__view_title {
  font-size: 30px;
  line-height: 34px;
  color: #343A3F;
  margin-bottom: 14px;
}
.popup_menu__view {
  max-width: 217px;
  width: 100%;
}
.popup_menu__view:last-child {
  max-width: none;
}
.popup_menu__list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.popup_menu__list_item {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popup_menu__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  color: #343A3F;
}
.popup_menu__link_span {
  color: #D3D3D3;
}
.popup_menu__link:hover {
  color: #4888FF;
}

@media (max-width: 426px) {
  .header__information,
  .header__promo_nav,
  .header__utility_bar,
  .header__quick_access,
  .header__build_btn,
  .popup_menu {
    display: none;
  }
  .popup_mobile .container, .mobile_menu .container {
    padding: 0 16px;
  }
  .header {
    padding-top: 4px;
  }
  .header__mobile_language {
    padding-right: 0;
    padding-top: 0;
    display: flex;
    -moz-column-gap: 7.5px;
         column-gap: 7.5px;
  }
  .header__mobile_language_icon {
    width: 21px;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__mobile_language_icon svg {
    width: 100%;
    height: 100%;
  }
  .header__mobile_language_wrapper_text {
    display: flex;
    -moz-column-gap: 9px;
         column-gap: 9px;
    cursor: pointer;
  }
  .header__mobile_language_text {
    font-size: 16px;
    line-height: 20px;
    color: #343A3F;
    position: relative;
  }
  .header__mobile_language_text::after {
    content: "";
    position: absolute;
    display: block;
    width: 1px;
    height: 12px;
    background-color: #343A3F;
    top: 4px;
    right: -4.5px;
  }
  .header__mobile_language_text:last-child {
    color: rgba(52, 58, 63, 0.5);
  }
  .header__mobile_language_text:last-child::after {
    display: none;
  }
  .header__instant_access {
    display: flex;
    align-items: center;
    justify-content: space-between;
    -moz-column-gap: 50px;
         column-gap: 50px;
    margin-bottom: 10px;
  }
  .header__instant_access_item {
    display: flex;
    -moz-column-gap: 6px;
         column-gap: 6px;
    align-items: center;
  }
  .header__instant_access_btn_menu {
    width: 40px;
    height: 40px;
    background-color: #4888FF;
    border: none;
    border-radius: 5px;
    padding: 12.5px 6.25px;
  }
  .header__instant_access_btn_menu_open {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__instant_access_btn_menu_close {
    display: none;
    align-items: center;
    justify-content: center;
  }
  .header__instant_access_choice_btn {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #D3D3D3;
    padding: 12px 10px;
    border-radius: 5px;
  }
  .header__wrapper_logo {
    width: 56px;
    height: 56px;
  }
  .header__wrapper_logo svg {
    width: 26.31px;
    height: 26.31px;
  }
  .header__search_line {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(72, 136, 255, 0.2);
    padding: 3px;
    padding-left: 16px;
    border-radius: 5px;
  }
  .header__search_line_input {
    outline: none;
    border: none;
    font-size: 14px;
    line-height: 18px;
    color: #343A3F;
    max-width: 250px;
    width: 100%;
  }
  .header__search_line_btn {
    width: 40px;
    height: 40px;
    background-color: #4888FF;
    border: none;
    padding: 8px;
    border-radius: 5px;
  }
  .mobile_menu {
    display: block;
  }
  .mobile_menu__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    padding-bottom: 4px;
    background-color: #F4F4F4;
    margin-bottom: 10px;
  }
  .mobile_menu__wrapper_phone {
    display: flex;
    align-items: center;
    -moz-column-gap: 12px;
         column-gap: 12px;
  }
  .mobile_menu__wrapper_icon {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mobile_menu__wrapper_icon svg {
    width: 100%;
    height: 100%;
  }
  .mobile_menu__phone {
    font-size: 14px;
    line-height: 18px;
    color: #343A3F;
  }
  .popup_mobile {
    display: none;
    background-color: #FFFFFF;
  }
  .popup_mobile__information {
    display: flex;
    -moz-column-gap: 37px;
         column-gap: 37px;
    justify-content: space-between;
    margin-bottom: 24px;
  }
  .popup_mobile__information_item {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  .popup_mobile__information_text {
    display: flex;
    -moz-column-gap: 8px;
         column-gap: 8px;
    align-items: center;
  }
  .popup_mobile__information_icon {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .popup_mobile__information_words {
    font-size: 16px;
    line-height: 20px;
    color: #343A3F;
  }
  .popup_mobile__information_messenger {
    display: flex;
    -moz-column-gap: 6px;
         column-gap: 6px;
    align-items: center;
  }
  .popup_mobile__information_btn {
    width: 40px;
    height: 40px;
    background-color: #F4F4F4;
    border: none;
    border-radius: 5px;
    padding: 11px 10px;
  }
  .popup_mobile__quick_access {
    margin-bottom: 24px;
  }
  .popup_mobile__quick_access_list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  .popup_mobile__quick_access_item {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F4F4F4;
    border-radius: 5px;
    padding: 17px 20px 17px 12px;
    width: 100%;
  }
  .popup_mobile__quick_access_wrapper {
    display: flex;
    align-items: center;
    -moz-column-gap: 17px;
         column-gap: 17px;
  }
  .popup_mobile__quick_access_icon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .popup_mobile__quick_access_icon svg {
    width: 100%;
    height: 100%;
  }
  .popup_mobile__quick_access_link {
    font-size: 16px;
    line-height: 20px;
    color: #343A3F;
    text-decoration: none;
  }
  .popup_mobile__quick_access_arrow {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .popup_mobile__create_btn {
    width: 100%;
    background-color: #F4F4F4;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    line-height: 20px;
    color: #4888FF;
    padding: 12px;
    margin-bottom: 40px;
  }
  .popup_mobile__service {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
  .popup_mobile__service_link {
    font-size: 16px;
    line-height: 20px;
    color: #343A3F;
    text-decoration: none;
    padding-bottom: 10px;
    border-bottom: 1px solid #E8E8E8;
  }
}
@media (min-width: 427px) {
  .mobile-menu,
  .header__mobile_language,
  .mobile_menu__wrapper_phone,
  .header__instant_access,
  .header__search_line,
  .popup_mobile {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */